In [3]:
!pip install requests

Requirement already satisfied: requests in c:\users\wekesa\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\wekesa\anaconda3\lib\site-packages (from requests) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\wekesa\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\wekesa\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\wekesa\anaconda3\lib\site-packages (from requests) (2.0.4)

WARNING: There was an error checking the latest version of pip.

In [2]:
# 2022 will not be included in the range function
years = list(range(1991, 2022))
print(years, end = " ")

[1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

In [4]:
# original url is awards_2001.html or the year chosen.
# {} is used to replace the year in the range in the url when scraping
# Replace the url with each year we want to scrape data for

url_start = "https://www.basketball-reference.com/awards/awards_{}.html"

In [39]:
import requests # make a request to the webpage to download it
import time

for year in years:
    # create a url for a specific year
    url = url_start.format(year)
    data = requests.get(url)
    
    # W+ opens file in write mode and if it already exists it will just override.
    with open("MVP/{}.html".format(year), "w+", encoding = "utf-8") as f:
        time.sleep(3)
        f.write(data.text) #text saves files as html

### Parsing the votes table with Beautiful Soup

Extract the data in the table from each html file.

In [8]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\wekesa\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\wekesa\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.1)

In [9]:
from bs4 import BeautifulSoup

### Example of parsing a single page

- Remove top row of the table as it will create an extra header row when loaded in pandas
- An id is a globally unique property in html that only one element should have. We'll find the table we want using the id

In [11]:
# read the html data
with open("MVP/1991.html", encoding="utf-8") as f:
    page = f.read()

In [12]:
# create a parser class to extract table from the page
soup = BeautifulSoup(page, "html.parser")

In [14]:
# remove top row of the table
soup.find("tr", class_="over_header").decompose()
print("Header row removed successfully")

Header row removed successfully

In [16]:
# remove all other page elements and only find specific table we want
mvp_table = soup.find(id="mvp")

In [19]:
# read table into pandas
import pandas as pd

# convert table into a string
# you'll get a list of dataframes so just get the first index.
mvp_1991 = pd.read_html(str(mvp_table))[0]

In [20]:
mvp_1991

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
0,1,Michael Jordan,27,CHI,77.0,891.0,960,0.928,82,37.0,31.5,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321
1,2,Magic Johnson,31,LAL,10.0,497.0,960,0.518,79,37.1,19.4,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251
2,3,David Robinson,25,SAS,6.0,476.0,960,0.496,82,37.7,25.6,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264
3,4,Charles Barkley,27,PHI,2.0,222.0,960,0.231,67,37.3,27.6,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258
4,5,Karl Malone,27,UTA,0.0,142.0,960,0.148,82,40.3,29.0,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225
5,6,Clyde Drexler,28,POR,1.0,75.0,960,0.078,82,34.8,21.5,6.7,6.0,1.8,0.7,0.482,0.319,0.794,12.4,0.209
6,7,Kevin Johnson,24,PHO,0.0,32.0,960,0.033,77,36.0,22.2,3.5,10.1,2.1,0.1,0.516,0.205,0.843,12.7,0.220
7,8,Dominique Wilkins,31,ATL,0.0,29.0,960,0.030,81,38.0,25.9,9.0,3.3,1.5,0.8,0.470,0.341,0.829,11.4,0.177
8,9T,Larry Bird,34,BOS,0.0,25.0,960,0.026,60,38.0,19.4,8.5,7.2,1.8,1.0,0.454,0.389,0.891,6.6,0.140
9,9T,Terry Porter,27,POR,0.0,25.0,960,0.026,81,32.9,17.0,3.5,8.0,2.0,0.1,0.515,0.415,0.823,13.0,0.235
10,11,Patrick Ewing,28,NYK,0.0,20.0,960,0.021,81,38.3,26.6,11.2,3.0,1.0,3.2,0.514,0.000,0.745,10.0,0.155
11,12,John Stockton,28,UTA,0.0,15.0,960,0.016,82,37.8,17.2,2.9,14.2,2.9,0.2,0.507,0.345,0.836,14.0,0.217
12,13,Isiah Thomas,29,DET,0.0,11.0,960,0.011,48,34.5,16.2,3.3,9.3,1.6,0.2,0.435,0.292,0.782,3.4,0.098
13,14,Robert Parish,37,BOS,0.0,10.0,960,0.010,81,30.1,14.9,10.6,0.8,0.8,1.3,0.598,0.000,0.767,10.0,0.198
14,15,Joe Dumars,27,DET,0.0,8.0,960,0.008,80,38.1,20.4,2.3,5.5,1.1,0.1,0.481,0.311,0.890,9.9,0.155
15,16,Bernard King,34,WSB,0.0,7.0,960,0.007,64,37.5,28.4,5.0,4.6,0.9,0.3,0.472,0.216,0.790,3.5,0.070
16,17,Kenny Smith,25,HOU,0.0,5.0,960,0.005,78,34.6,17.7,2.1,7.1,1.4,0.1,0.520,0.363,0.844,9.0,0.161
17,18,Hakeem Olajuwon,28,HOU,0.0,4.0,960,0.004,56,36.8,21.2,13.8,2.3,2.2,3.9,0.508,0.000,0.769,8.6,0.201
18,19T,Tim Hardaway,24,GSW,0.0,1.0,960,0.001,82,39.2,22.9,4.0,9.7,2.6,0.1,0.476,0.385,0.803,9.9,0.148
19,19T,Kevin McHale,33,BOS,0.0,1.0,960,0.001,68,30.4,18.4,7.1,1.9,0.4,2.1,0.553,0.405,0.829,7.9,0.182

### Load all the other years

After confirming it has worked well for one year, do the same for the rest of the years.

In [40]:
dfs = []
for year in years:
    # read the html data
    with open("MVP/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()

        # create a parser class to extract table from the page
        soup = BeautifulSoup(page, "html.parser")

        # remove top row of the table
        soup.find("tr", class_="over_header").decompose()

        # remove all other page elements and only find specific table we want
        mvp_table = soup.find(id="mvp")

        # read table into pandas dataframe
        mvp = pd.read_html(str(mvp_table))[0]
        
        # create year column to know where data came from
        mvp["Year"] = year

        dfs.append(mvp)

In [41]:
mvps = pd.concat(dfs)

In [45]:
pd.pandas.set_option('display.max_columns', None) #display all column names
mvps.sample(5)

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
6,7,Mark Price,27,CLE,0.0,66.0,960,0.069,72,29.7,17.3,2.4,7.4,1.3,0.2,0.488,0.387,0.947,9.1,0.205,1992
12,13T,James Harden,31,TOT,0.0,1.0,1010,0.001,44,36.6,24.6,7.9,10.8,1.2,0.8,0.466,0.362,0.861,7.0,0.208,2021
10,11,Jimmy Butler,30,MIA,0.0,9.0,1010,0.009,58,33.8,19.9,6.7,6.0,1.8,0.6,0.455,0.244,0.834,9.0,0.221,2020
5,6,Dwyane Wade,24,MIA,0.0,87.0,1250,0.070,75,38.6,27.2,5.7,6.7,1.9,0.8,0.495,0.171,0.783,14.4,0.239,2006
12,13T,Darrell Armstrong,31,ORL,0.0,1.0,1210,0.001,82,31.6,16.2,3.3,6.1,2.1,0.1,0.433,0.340,0.911,8.0,0.149,2000

In [46]:
# store in a csv file
mvps.to_csv("mvps.csv")